<h4>Categories</h4>

<div class="container mt-4">
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Code</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of categories">
        <td>{{ cat.categoryId }}</td>
        <td>{{ cat.name }}</td>
        <td>{{ cat.code }}</td>
        <td class="col-md-3">
          <a class="btn btn-outline-primary m-1" role="button" routerLink="../{{ cat.categoryId }}"><i class="bi bi-pencil"></i> Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>